<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/customStyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <%if(msg!=''){%>
        <div class="alert alert-success col-xs-6" id="flash_msg_dashboard" style="z-index: 999999;"><h5><center><%= msg%></center></h5></div>
    <%} %>
    <div class="container-fluid">
     
        <div class="row loginBanner">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding:0">
    <img src="pics/delivery_boy.jpg" alt="" height="100%" width="100%">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 align-self-center">
                <h2 class="text-center">Forgot Password</h2>
                <br>
                <form action="/forgot" method="post">
                    <div class="form-group">
                        <input type="email" class="form-control" name ="email" id="email" placeholder="Enter email" required>
                    </div>
                    <div class="col-md-12 col-lg-12 text-center">
                        <button type="submit" class="btn btn-primary wideButton align-self-center">Send</button>

                        <!-- <a type="submit" href="feature1.html"  class="btn btn-primary wideButton align-self-center">Login</a>                         -->
                    </div>                   
                </form>
              
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    setTimeout(() => {
       $("#flash_msg_dashboard").fadeOut('slow');
     },3000);
</script>
</html>