<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/customStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>	
    <nav class="navbar navbar-expand-lg" id="ftco-navbar">
      <div class="container">
          <div class="col-md-3 d-flex align-items-center">
              <h2 class="">Home</h2>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
              aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="fa fa-bars"></span> Menu
          </button>
          <div class="collapse navbar-collapse" id="ftco-nav">
              <ul class="navbar-nav text-right ml-auto">
                  <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
                  <li class="nav-item"><a href="/register" class="nav-link">Signup</a></li>
              </ul>
          </div>
      </div>
  </nav>
  <div class="col-lg-12 col-md-12 featureBanner" style="padding:0">
    <img src="pics/delivery_boy.jpg" alt="" height="500px" width="100%">
</div>
    <!-- END nav -->
    <section class="innerSection">      
    	<div class="container">
    		<div class="row">
    			<div class="col-md-12 col-lg-12 ">
    			
		          <h1 class="subheading text-center">Welcome To Delivery Management Tool</h1>
		           
		            <p>We are making this website on a concept of food delivery and restaurant management system. It is a new concept as restaurant can manage his all work with this website for example his Stocks, Accounts, Employee record etc.
              </p>
              <h2 class="subheading text-center">We are new but we are best in our business.</h2>
		         
		        
	        </div>
        </div>
    	</div>
    </section>
	<div class="col-lg-12 col-md-12" style="padding:0">
<img src="pics/food_d.png" alt="" height="500px" width="100%" style="object-fit: cover;">
</div>		

<footer class="footer">
  <div class="container">
      <div class="row mb-5">
          <div class="col-md-3 col-lg-3">
              <div class="mb-4">
                  <h2 class="heading"><a href="#">Delivery management<span>.</span></a></h2>
                  <p>Always available to help you.</p>
                  <ul class="list-unstyled float-md-left float-lft mt-4">
                      <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                      <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
                      <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-3 col-lg-3">
              <div class="mb-4 ml-md-5">
                  <h2 class="heading">Features</h2>
                  <ul class="list-unstyled">
                    <li><a href="/stock" class="py-1 d-block"><i class="fa fa-check mr-3"></i>Stock</a></li>
                    <li><a href="/staff" class="py-1 d-block"><i class="fa fa-check mr-3"></i>Staff</a></li>
                    <li><a href="/accounts" class="py-1 d-block"><i class="fa fa-check mr-3"></i>Accounts</a></li>
                    <li><a href="/equipment" class="py-1 d-block"><i class="fa fa-check mr-3"></i>Equipment</a>
                    </li>
                    <li><a href="/customers" class="py-1 d-block"><i class="fa fa-check mr-3"></i>Customers</a>
                    </li>
                    <li><a href="/delivery" class="py-1 d-block"><i class="fa fa-check mr-3"></i>Delivery</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-3 col-lg-3">
              <div class="mb-4">
                  <h2 class="heading">you can reach us</h2>
                  <div class="mb-3">
                      <ul>
                          <li><span class="icon fa fa-map-marker"></span><span class="text">Algoma Street
                                  , Thunderbay</span></li>
                          <li><a href="#"><span class="icon fa fa-phone"></span> <span
                                      class="text">+1-807-1234-567</span></a></li>
                          <li><a href="#">
                                      contactus@deliverymanagement.com</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-lg-3">
              <div class="mb-4">
                  <h2 class="heading">Always there to serve people</h2>
                  <div class="opening-hours">
                      <h4></h4>
                      <p class="pl-3">

                      </p>
                  </div>
              </div>
          </div>
      </div>

  </div>
</footer>    
  </body>
</html>